---
layout: default
---
<nav>
  <a href="/atom.xml" class="subscribe">rss feed</a>
  <a href="/">&laquo; index</a>
</nav>
<div>
  <article role="article">
    {% if page.title %}
    <header>
      <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
      {% if page.date %}<p class="meta">{{ page.date | date: "%-d %B %Y" }}</p>{% endif %}
    </header>
    {% endif %}
    {{ content }}
  </article>

  <section>
    {% include disqus.html %}
  </section>
</div>
